<section class="blog__sms">
  <div class="blog-sms__container">
    <div class="blog-sms__content">
      <h1 class="blog-sms__title">let's talk about it</h1>
      <p class="blog-sms__text">
        spread some positive energy
      </p>
    </div>
    <div class="blog-sms__klaviyo">
      <div class="klaviyo-form-QRFAWz"></div>
    </div>
  </div>
</section>