<nav class="blog__nav">
  {% assign all_link = false %}
  {% for link in linklists['blog-tags'].links %}
    {% assign display_handle = link.handle | prepend: 'display: ' %}
    {% if current_tags contains display_handle %}
      {% assign all_link = true %}
    {% else %}
      <div class="blog-nav__item">
        <a href="{{link.url}}" class="blog-nav__link">
          <div class="blog-nav__background blog-nav__background--{{link.title | handle}}"></div>
          <div class="blog-nav__text">
            <h1 class="blog-nav__title blog-nav__title--{{link.title | handle}}">{{link.title}}</h1>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
  {% if all_link %}
    <div class="blog-nav__item">
      <a href="/blogs/news/" class="blog-nav__link">
        <h1 class="blog-nav__title blog-nav__title--all">
          <div class="blog-nav__background blog-nav__background--all"></div>
          <div class="blog-nav__text">
            <h1 class="blog-nav__title blog-nav__title--all">All</h1>
          </div>
        </h1>
      </a>
    </div>
  {% endif %}
</nav>