<section class="blog__signup">
  <div class="blog-signup__container">
    <div class="blog-signup__content">
      <h1 class="blog-signup__title">newsletter</h1>
      <p class="blog-signup__text">
        just when you thought there were too many newsletters
      </p>
    </div>
    <div class="blog-signup__klaviyo">
      <div class="klaviyo-form-Rt78Nk"></div>
    </div>
  </div>
</section>