<div id="ajax-cart-drawer" class="ajaxcart__drawer drawer drawer--right">
  <div class="ajaxcart__container">
    <header class="ajaxcart__header">
      <h2 class="ajaxcart__header-title">Your Cart</h2>
      <button js-drawer-close class="ajaxcart__header-close">Close</button>
    </header>
    <div id="CartContainer">
      <div class="ajaxcart__loading">Loading...</div>
    </div>
  </div>
</div>