<div id="mobile-nav-drawer" class="drawer drawer--left mobile-nav">
  <button class="mobile-nav__close" title="Close Mobile Nav" aria-label="Close Mobile Nav" js-drawer-close>{% render 'icon-close' %}</button>
  <nav class="mobile-nav__nav mobile-nav__nav--main">
    {% for link in linklists['main-menu'].links %}
      <a href="{{link.url}}" class="mobile-nav__link mobile-nav__link--main">{{link.title}}</a>
    {% endfor %}
  </nav>
  <nav class="mobile-nav__nav mobile-nav__nav--secondary">
    <a href="/account" class="mobile-nav__link mobile-nav__link--secondary">
      {%- if customer -%}My Account{%- else -%}Sign In{%- endif -%}
    </a>
    {% for link in linklist['mobile-secondary'].links %}
      <a href="{{link.url}}" class="mobile-nav__link mobile-nav__link--secondary">{{link.title}}</a>
    {% endfor %}
    {% if customer %}
      <a href="/account/logout" class="mobile-nav__link mobile-nav__link--secondary">Sign Out</a>
    {% endif %}
  </nav>
</div>