<section class="product__text">
  {% if image %}
    <div class="product-text__image">
      {% render 'lazy-image', image: image, alt: alt %}
    </div>
  {% endif %}
  <div class="product-text__content">
    <h1 class="product-text__title">{{title}}</h1>
    <div class="product-text__text">{{text}}</div>
  </div>
</section>