<footer class="site-footer">
  <div class="site-footer__container">
    <div class="site-footer__grid">
      <div class="site-footer__logo">
        <a href="/" class="site-footer__link site-footer__link--logo">{% render 'site-logo-tm' %}</a>
      </div>
      <a href="{{settings.social_instagram_link}}" class="site-footer__social site-footer__social--mobile">
        <div class="site-footer__social-icon">{% render 'icon-instagram' %}</div>
        <div class="site-footer__social-text">
          show us yours. <br>
          we'll show you ours.
        </div>
      </a>
      <div class="site-footer__socials">
        {% include 'social-links' %}
      </div>
      {%- assign footer_linklist = linklists['footer'] -%}
      <nav class="site-footer__nav">
        <ul class="site-footer__links">
          {% for link in footer_linklist.links %}
            <li class="site-footer__link-item"><a class="site-footer__link" href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    
    <div class="site-footer__contact">
      <a href="mailto:sup@offfield.com" class="site-footer__link site-footer__link--contact">sup@offfield.com</a>
    </div>

    <div class="site-footer__klaviyo">
      <div class="klaviyo-form-Rt78Nk"></div>
    </div>

    <div class="site-footer__disclaimers">
      <p class="site-footer__disclaimer">
        *OFFFIELD PRODUCTS AVAILABLE FOR SHIPPING (IN SELECT STATES AND FOR SELECT PRODUCTS) THROUGH THIS SITE: (1) CONTAIN LESS THAN 0.3% DELTA-9 TETRAHYDROCANNABINOL (THC) THAT IS DERIVED FROM INDUSTRIAL HEMP, (2) DO NOT CLAIM TO DIAGNOSE, TREAT, CURE, OR PREVENT ANY DISEASE, AND (3) HAVE NOT BEEN EVALUATED OR APPROVED BY THE UNITED STATES FOOD AND DRUG ADMINISTRATION (FDA)
      </p>
    </div>
    <div class="site-footer__copyright">
      &copy; {{ 'now' | date: '%Y' }} Off Field, Inc.
    </div>
  </div>
</footer>