{{ 'section-main-page-goals.css' | asset_url | stylesheet_tag }}
<h2>Hello fropm goals liquid</h2>
{% schema %}
{
  "name": "Goals img-text",
  "class": "section",
  "tag": "section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Goals img-text"
    }
  ]
}
{% endschema %}
