<section class="product__ingredients">
 <div class="product-ingredients__content">
    <div class="product-ingredients__badge">
      {% render 'lazy-image', image: images['hydration-badge.png'] %}
    </div>
    <div class="product-ingredients__background"></div>
    <h1 class="product-ingredients__title">ingredients</h1>
    <div class="product-ingredients__tabs" js-tab-group data-tab-type="fade">
      <nav class="product-ingredients__tablist" role="tablist" aria-label="Product Ingredients Tabs">
        {% for block in section.blocks %}
          <button class="product-ingredients-tabs__trigger" role="tab" aria-controls="{{block.settings.title | handle}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" js-tab-trigger>{{block.settings.title}}</button>
        {% endfor %}
      </nav>
      <div class="product-ingredients-tabs__content">
        {% for block in section.blocks %}
          <div id="{{block.settings.title | handle}}" class="product-ingredients-tabs__tab" aria-hidden="{% if forloop.first %}false{% else %}true{% endif %}" js-tab-content>
            {% if block.settings.image != blank %}
              <div class="product-ingredients__mobile-image">
                {% render 'lazy-image', image: block.settings.image_mobile %}
              </div>
              <div class="product-ingredients__desktop-image">
                {% render 'lazy-image', image: block.settings.image %}
              </div>
            {% endif %}
            {% if block.settings.content != blank %}
              {{block.settings.content}}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <ul class="product-ingredients__icons">
      <li class="product-ingredients__icon">
        <div class="product-ingredients-icon__image">
          {% assign image = images['product-ingredients-thc-free.png'] %}
          {% render 'lazy-image', image: image %}
        </div>
        <span class="product-ingredients-icon__text">THC FREE</span>
      </li>
      <li class="product-ingredients__icon">
        <div class="product-ingredients-icon__image">
          {% assign image = images['product-ingredients-vegan.png'] %}
          {% render 'lazy-image', image: image %}
        </div>
        <span class="product-ingredients-icon__text">VEGAN</span>
      </li>
      <li class="product-ingredients__icon">
        <div class="product-ingredients-icon__image">
          {% assign image = images['product-ingredients-low-sugar.png'] %}
          {% render 'lazy-image', image: image %}
        </div>
        <span class="product-ingredients-icon__text">LOW SUGAR</span>
      </li>
      <li class="product-ingredients__icon">
        <div class="product-ingredients-icon__image">
          {% assign image = images['product-ingredients-non-gmo.png'] %}
          {% render 'lazy-image', image: image %}
        </div>
        <span class="product-ingredients-icon__text">NON-GMO</span>
      </li>
      <li class="product-ingredients__icon">
        <div class="product-ingredients-icon__image">
          {% assign image = images['product-ingredients-soy-free.png'] %}
          {% render 'lazy-image', image: image %}
        </div>
        <span class="product-ingredients-icon__text">SOY FREE</span>
      </li>
      <li class="product-ingredients__icon">
        <div class="product-ingredients-icon__image">
          {% assign image = images['product-ingredients-dairy-free.png'] %}
          {% render 'lazy-image', image: image %}
        </div>
        <span class="product-ingredients-icon__text">DAIRY FREE</span>
      </li>
    </ul>
    <div class="product-ingredients__image">
      {% render 'lazy-image', image: section.settings.character %}
    </div>
 </div>
</section>

{% schema %}
  {
    "name": "Product Ingredients",
    "settings": [
      {
        "type": "image_picker",
        "id": "character",
        "label": "Character Image at bottom right"
      }
    ],
    "blocks": [
      {
        "type": "tab",
        "name": "Tab",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile Image",
            "info": "required even if the mobile is not different"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "comes before content"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}
