<section class="product__ingredients new-ingredients__padding">
  <div class="product-ingredients__content">
     <div class="product-ingredients__badge">
       {% render 'lazy-image', image: images['hydration-badge.png'] %}
     </div>
     <div class="product-ingredients__background"></div>
     <h1 class="product-ingredients__title new-ingredients__title">{{section.settings.title}}</h1>
        <div class="product-ingredients-box">
          {% for block in section.blocks %}
          <div class="product-card-box">
            <img 
              class="product-card-box__icon" 
              src="{{ block.settings.image_card | img_url }}" 
              alt="image" 
            >
            <div class="product-card-box__heading">
              <p class="product-card-box__title">{{block.settings.text_title}}</p>
              <p class="product-card-box__subtitle">{{block.settings.text_subtitle}}</p>
            </div>
          </div>
          {%endfor%}
        </div>
     <div class="new-ingredients__image">
       {% render 'lazy-image', image: section.settings.character %}
     </div>
  </div>
 </section>
 
 {% schema %}
   {
     "name": "Product Ingredients New",
     "settings": [
       {
         "type": "image_picker",
         "id": "character",
         "label": "Character Image at bottom right"
       },

       {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "quality ingredients for a quality experience"
      }
     ],
     "blocks": [
       {
         "type": "text",
         "name": "Card  Ingredients",
         "settings": [
           {
             "type": "image_picker",
             "id": "image_card",
             "label": "Image ingredients"
           },
           {
             "type": "text",
             "id": "text_title",
             "label": "Title Ingredients"
           },
           {
             "type": "text",
             "id": "text_subtitle",
             "label": "Subtitle Ingredients"
           }
         ]
       }
     ]
   }
 {% endschema %}
 