.js-open-cart{
    overflow: hidden;
}

.cart-slide {
  transform: translate(0) !important;
 /*  margin: 10px; */
}
.js-open-cart .js-slide--cart{
    transform: translate(0);
    /* margin: 10px; */
}
.close-slide-cart{
    max-width: 35px;
    cursor: pointer;
    display: flex;
}
.cart-header-container{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 0.125rem solid black;
}
.cart-header-container h2{
    text-align: end;
    font-family: 'Avenir',sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #4e84b5;
    margin: 0 0 5px;
}
.progress-bar__text{
    display: flex;
    justify-content: end;
    gap: 5px;
}
.progress-bar__text p{
    font-family: 'Avenir',sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    font-weight: 900;
    color: #b75c61;
    text-decoration: none;
    margin: 0;
}
.js-slide--cart{
    right: 0;
    transform: translate(100%);
    position: fixed;
    top: 10px;
    bottom: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 3;
    background-color: #faefe2;
    transition: all .45s cubic-bezier(.29,.63,.44,1);
    width: 100%;
    max-width: 500px;
    border: 0.125rem solid black;
}
.background-overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #5f5e5eb0;
    z-index: 2;
    transition: all .45s cubic-bezier(.29,.63,.44,1);
}
.js-open-cart .background-overlay{
    display: block;
}

.cart-box {
  display: flex;
  justify-content: space-between;
}
.progress {
    margin: 10px 0;
    height: 18px;
    position: relative;
    background: #e6e6e6;
    border: 0.125rem solid black;
}
.progress-bar-container{
  /*   display: none; */
}
.progress .progress_inner {
    width: 0;
    height: 100%;
    background-color: #9c9f8c!important;
    background: -webkit-linear-gradient(left, #9c9f8c 0%, #9c9f8c 30%, #9c9f8c 45%, #b75c61 50%, #b75c61 60%, #9c9f8c 70%, #9c9f8c 100%);
    background: linear-gradient(left, #9c9f8c 0%, #9c9f8c 30%, #9c9f8c 45%, #b75c61 50%, #b75c61 60%, #9c9f8c 70%, #9c9f8c 100%);
    background-repeat: no-repeat;
    background-size: 1000px 100%;
    display: inline-block;
    position: relative;
    -webkit-animation-duration: 5.25s;
    animation-duration: 5.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transition: width .6s ease;
    transition: width .8s ease;
}
.progress .progress_inner:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 0.125rem;
    background: black;
    right: 0;
}
.progress .progress-full{
    width: 100%;
}
.progress .progress_inner.progress-full:after{
    content: none;
}
@-webkit-keyframes shimmer {
    0% {
        background-position: 100% 0
    }
    100% {
        background-position: -100% 0
    }
}

@keyframes shimmer {
    0% {
        background-position: 100% 0
    }
    100% {
        background-position: -100% 0
    }
}
.recommended-product{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.recommended-product-image{
    display: flex;
    gap: 30px;
    align-items: center;
}
.recommended-product img{
    height: 90px;
    width: 90px;
    max-width: none;
}
.recommended-product .btn.product__atc{
    padding: 10px 20px;
    line-height: 0;
    height: 42px;
}

.product__atc {
  padding: 10px 20px;
  line-height: 0;
  height: 42px;
  border: 0.125rem solid black;
  background-color: #e6af6e;
  color: #000;
  font-family: Avenir,sans-serif;
  font-weight: 900;
  font-size: .9375rem;
}

.product__atc:hover {
  background-color: #4e84b5;
}

.recommended-product-description .product-title{
    margin: 3px 0;
    font-family: 'Avenir',sans-serif;
    font-size: 1.1rem;
    font-weight: 900;
    color: #000;
}
.recommended-product-description .product-subtitle{
    font-family: 'Avenir',sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.recommended-product-description .product-price{
    font-family: 'Avenir',sans-serif;
    font-size: 18px;
    font-weight: 900;
    margin: 1rem 0 0;
}
.recommended-products-container{
    border-top: 0.125rem solid black;;
    padding: 30px 20px 0;
    background-color: #faefe2;
}
.recommended-products-container h6{
    font-family: 'Avenir',sans-serif;
    font-size: 18px;
    font-weight: 900;
    margin: 0 0 2rem;
}
.js-slide--cart .cart__footer{
    border-top: 0.125rem solid black;;
    padding: 15px 20px;
    position: sticky;
    bottom: 0;
    background: white;
}
.js-slide--cart .cart__footer .cart__button--checkout{
    max-width: 100%;
    margin-top: 0.6rem;
    font-size: 14px;
}

.cart__button--checkout,
.cart-continue {
  height: 40px;
  padding: 10px;
}

.cart__button--checkout::after,
.cart__button--checkout::before,
.cart-continue::after,
.cart-continue::before {
  height: 40px;
  padding: 10px;
}
.js-slide--cart .cart__footer .cart__subtotal{
    margin-bottom: 5px;
    text-align: left;
}
.js-slide--cart .cart__disclaimer{
    text-align: center;
    margin-top: 1rem;
    font-size: 10px;
}
.cart-continue{
    margin-top: 0.8rem;
    min-width: 100%;
    width: 100%;
    font-size: 14px;
}
.cart-continue:after{
    background-color: white;
}
.slide-cart__products{
    padding: 30px 20px 30px;
/*     border-top: .2rem solid #000; */
    position: relative;
    background: white;
   /*  z-index: 2; */
}
.slide-cart-product__contents{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.slide-cart__products .cart-product__text{
    width: 100%;
}
.slide-cart__products .cart-product__title{
    font-size: 1.1rem;
}
.slide-cart__products .cart-product__image{
    margin: 0;
}
.slide-cart__products .cart-product__quantity{
    padding: 0.2rem 0.4rem;
    margin-top: 0.5rem;
}
.slide-cart__products .cart-product__subtitle{
   color: #b75c61;
   font-size: 12px;
}
.slide-cart__products .slide-cart__product{
    margin-bottom: 2rem;
}
.slide-cart__products .slide-cart__product:last-child{
    margin-bottom: 0;
}
.slide-cart-product__remove{
    font-family: Avenir,sans-serif;
    font-size: .8rem;
    font-weight: 900;
    margin: 0;
    cursor: pointer;
}
.container-price-remove{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.slide-cart__flex{
    display: flex;
    gap: 30px;
}

.slide-cart__flex img {
  padding-top: 0;
  width: 90px;
  height: 90px;
}

.slide-cart__flex .ratio-box {
  padding: 0 !important;
/*   height: 100% !important; */
  height: 95px !important;
}
.subscription-btn{
    border: 0.125rem solid black;
    font-family: Avenir,sans-serif;
    font-size: .8rem;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    border: 0;
}
.subscription__btn{
    border: 0.125rem solid black;
    background-color: #fff;
    position: relative;
    padding: 10px;
    font-family: 'Avenir',sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    max-width: 100%;
    margin: 0; 
}

.subscribtion-select,
.option_wrapper_select {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.dropdown-sub {
  position: absolute;
  right: 0;
  width: 40px;
  pointer-events: none;
}

.subscribtion-values,
.current-product__select {
  color: black;
  padding: 10px;
  width: 100%;
  background-color: antiquewhite;
  border-radius: 5px;
  background-image: url('https://cdn.shopify.com/s/files/1/0312/1571/4442/t/35/assets/down-arrow.png?v=133289705159216512661656941397');
}
/* .subscription__btn:before{
    content: "";
    border: 0.125rem solid black;
    background-color: #e6af6e;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -0.4rem;
    top: 0.45rem;
    z-index: -1;
    transition: all .2s ease-in-out;
} */
/* .subscription__btn:hover:before{
    background-color: #4e84b5;
} */
@media (max-width: 767px){
    .js-slide--cart{
        margin: 0;
    }
    .slide-cart__flex, .slide-cart-product__contents, .recommended-product-image, .recommended-product{
        gap: 20px;
    }
    .js-slide--cart .cart-product__quantity .js-qty__num{
        width: 2rem;
    }
}

form[action^="/cart/add"] [type=submit] {
  visibility: visible !important;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-cart__title {
  text-align: end;
  font-family: Avenir,sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: #4e84b5;
  margin: 0 0 5px;
}
.empty-cart__subtitle {
  font-family: Avenir,sans-serif;
  font-size: 0.7rem;
  font-weight: 900;
  color: #b75c61;
  text-align: right;
  margin: 0 0 1rem;
}

.empty-cart__shopping {
  width: 100%;
}

.subscribe__off {
  display: none !important;
}

/* #chat-button {
  z-index: 1;
}
 */

@media (max-width: 425px) {

  .js-slide--cart {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
  }
  .cart-header-container h2 {
    font-size: 1.5rem;
  }

  .cart__free-shipping {
    font-size: 0.7rem;
  }

  .slide-cart__products .cart-product__title,
  .recommended-product-description .product-title {
    font-size: 0.9rem;
  }

  .slide-cart-product__remove {
    font-size: 0.7rem;
  }

  .cart__subtotal {
    font-size: 1.2rem;
  }
}