.template-login #rc_login {
  display: none !important;
}

.template-account #rc_login {
  margin-bottom: 20px;
}

.template-account .subscription__menu a,
.template-account .account__menu a {
  padding: 0.9375rem 40px !important;
  width: 100% !important;
  max-width: 289px;
}

.has_preheader .rc_layout__full .grid {
  margin: 0;
}

.has_preheader .rc_layout__full .grid .push--large--one-quarter {
  margin: 0 auto;
}

.has_preheader .rc_layout__full .grid .push--large--one-quarter .selection-wrapper {
  margin-top: 5em;
}

.has_preheader .rc_layout__full .grid .push--large--one-quarter .selection-wrapper .input-wrapper .form__input {
  border: 0.125rem solid black;
  margin-bottom: 5px;
  padding: 0.5rem 1.25rem;
  width: 100%;
  max-width: 325px;
}

.has_preheader .rc_layout__full .grid .push--large--one-quarter .selection-wrapper .input-wrapper .button:after {
  content: "Get subscription login";
}

.has_preheader .rc_layout__full .grid .push--large--one-quarter .selection-wrapper br {
  display: none;
}

.has_preheader .rc_layout__full .grid .push--large--one-quarter .selection-wrapper p {
  margin: 5px 0;
}

.has_preheader .rc_layout__full .grid .push--large--one-quarter .selection-wrapper p a[href="https://offfield.myshopify.com/account/login"] {
  padding: 1.25rem;
  border: 0.125rem solid black;
  background-color: #e6af6e;
  text-transform: uppercase;
  color: black;
  width: 100%;
  max-width: 325px;
  font-weight: 900;
  font-size: 0.9375rem;
}

.has_preheader .rc_layout__full .grid .push--large--one-quarter .selection-wrapper p a[href="https://offfield.myshopify.com/account/login"]:hover {
  color: white;
  background-color: #4e84b5;
}

@media (min-width: 768px) {
  .template-account .mobile_show {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .template-account .desktop_show {
    display: none !important;
  }

  .template-account .subscription__menu,
  .template-account .account__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}
