.promotion-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.promotion-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}