@mixin other-wrapper {
    display: grid;
    grid-template-columns: 110px 110px 110px;
    position: relative;

    .block-other {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-child(3) {
            .title {
                border-right: none !important;
            }
        }

        .title {
            margin-bottom: 100px;
            font-size: 28px;
            font-weight: 900;
            line-height: 30px;
            text-align: center;
            border-right: 3px solid #e6af6e;

            @media(max-width: 320px) {
                font-size: 24px;
            }
        }

        .block_img {
            width: 60px;
            margin-bottom: 10px;

            img {
                max-height: 100%;
            }
        }

        .block_subtitle {
            margin-top: 10px;
            text-align: center;
            font-weight: 900;
            text-transform: uppercase;
            font-family: 'Avenir', serif;
            font-size: 14px;

            @media(max-width: 320px) {
                font-size: 12px;
            }
        }
    }

    .serving {
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@mixin product-gummy-ingredients {
    margin-top: 20px;
    padding-left: 18px;
    padding-right: 18px;
    color: black;
    z-index: 0;
    width: 100%;

    .product-ingredients__content {
        .new-ingredients__title {
            font-size: 20px;
            line-height: 25px;
            font-weight: 900;
            font-family: 'Avenir', sans-serif;
        }

        .product-ingredients-box {
            grid-template-columns: 1fr;
            padding-bottom: 25px;

            .product-card-box {
                display: grid;
                grid-template-columns: 25% 75%;

                .product-card-box__image {
                    margin-right: 15px;
                }

                .product-card-box__heading {
                    .product-card-box__subtitle {
                        font-size: 12px;
                        line-height: 14px;
                        font-weight: 400;
                        font-family: 'Avenir', sans-serif;
                    }
                }
            }
        }
    }
}

body.lock {
    overflow: hidden !important;

    #MainContent {
        overflow: hidden !important;
    }
}

.section-gummy {
    position: relative;

    .block-content {
        padding: 100px 100px 50px;
        color: #fff;
        background-color: #000000;

        @media (max-width: 1270px) {
            padding: 100px 2.5rem 50px;
        }

        @media (max-width: 1120px) {
            padding: 50px 1.25rem 150px;
        }

        @media(max-width: 768px) {
            padding: 50px 1.25rem ;
        }

        .gummy-content {
            max-width: 1440px;
            margin: 0 auto;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;


            @media(min-width: 1121px) {
                justify-content: center;
                display: grid;
                grid-template-columns: 380px 380px;
                grid-column-gap: 400px;
            }
 
            @media(max-width: 320px) {
                display: block;
            }

            .text-label {
                color: #e6af6e;
                font-size: 13px;
                font-weight: 900;
                line-height: 15px;
                font-family: 'Avenir', sans-serif;
            }

            .facts-panel {
                max-width: 75%;
                width: 100%;
                margin-bottom: 10px;
                margin: 0 0 10px auto;
                display: block;
            }

            .content-product-details {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                z-index: 9999;
                padding-left: 65px;

                @media (max-width: 1120px) {
                    // max-width: none;
                    padding: 0;
                    max-width: 100%;
                    overflow: hidden;
                }

                .title {
                    margin: 5px 0 0 0;
                    font-size: 32px;
                    line-height: 32px;
                    font-weight: 900;
                    word-wrap: break-word;
                    font-family: 'Avenir', sans-serif;

                    @media (max-width: 425px) {
                        padding-right: 42%;
                    }
                }

                .description {
                    margin-top: 20px;
                    margin-bottom: 40px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    font-family: 'Avenir', sans-serif;

                    a {
                        color: #e6af6e;

                        strong {
                            font-weight: 400;
                            vertical-align: super;
                            font-size: 8px;
                        }
                    }
                }

                .detail-img {
                    display: flex;
                    justify-content: center;

                    @media (min-width: 1121px) {
                        display: none;
                    }

                    .gummy-content-img {
                        width: 100%;
                        max-width: 335px;
                    }
                }

                .detail-buy {
                    margin: 50px 0;

                    @media (min-width: 1121px) {
                        display: none;
                    }

                    .other-wrapper {
                        justify-content: center;
                        @include other-wrapper;

                        .title {
                            padding-right: 0;
                            margin-bottom: 100px !important;
                        }

                        .serving {
                            position: absolute;
                            left: 50%;
                            top: 36%;
                            transform: translateX(-50%);
                            color: #e6af6e;
                            font-weight: 900;
                            font-family: Avenir, sans-serif;
                            font-size: 22px;
                        }

                        .block-other {
                            &:nth-child(3) {
                                .title {
                                    border-right: none;
                                }
                            }
                        }
                    }
                }

                

                .other-buy_now {

                    @media(min-width: 1121px) {
                        display: none;
                    }

                    .btn-buy_now {
                        background-color: #e6af6e;
                        width: 304px;
                        height: 61px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: .125rem solid #000;
                        text-transform: uppercase;
                        color: #000;
                        transition-delay: 0s,0.2s;
                        transition: transform .2s ease-in-out,background-color 0s ease-in-out;
                        transform-origin: center;
                        position: relative;
                        font-family: Avenir,sans-serif;

                        @media(max-width: 1121px) {
                            width: 100%;
                            max-width: 375px;
                            margin: 0 auto;
                        }

                         &:after, &:before {
                            content: '';
                            position: absolute;
                            top: -.125rem;
                            left: -.125rem;
                            width: calc(100% + .25rem);
                            height: calc(100% + .25rem);
                            border: .125rem solid #000;
                            padding: 1.25rem;
                            transform-origin: center;
                        }

                        &::after {
                            content: 'Buy Now';
                            background-color: #e6af6e;
                            transition: transform .2s ease-in-out, background-color 0s ease-in-out, color 0.2s;
                            transition-delay: 0s,0.2s;
                            color: #000;
                            line-height: normal;
                            font-weight: 900;
                            text-align: center;
                        }

                        &:before {
                            content: '';
                            background-color: #b75c61;
                            transition: transform .2s ease-in-out;
                        }

                        &:hover {
                            background-color: #e6af6e;

                            &::after {
                                background-color: #4e84b5;
                                transform: translate(.625rem,-.625rem);
                                transition: transform .2s ease-in-out,background-color 0s ease-in-out;
                                transition-delay: 0s,0s;
                                color: #fff;
                            }
    
                            &:before {
                                transform: translate(.3125rem,-.3125rem);
                            }
                        }
                    }
                }

                .challenge {
                    @media(max-width: 1120px) {
                        margin-top: 100px;
                    }
                }

                .challenge-img {
                    @media (min-width: 1121px) {
                        display: none;
                    }

                    // display: flex;
                    // justify-content: center;
                    margin: 50px 0 0 0;
                    position: relative;
                    padding-bottom: 50px;

                    img {
                        display: block;
                        margin: 0 auto;
                        width: 100%;
                        max-width: 250px;
                    }

                    .swiper-pagination {
                        .swiper-pagination-bullet {
                            background-color: #a09f9e;
                            width: .3125rem;
                            height: .3125rem;
                            opacity: 0.5;
                            margin: 0 .3125rem;
                        }

                        .swiper-pagination-bullet-active {
                            opacity: 1;
                            background-color: #e6af6e;
                        }
                    }
                }

                .challenge-ingredients {
                    @media (min-width: 1025px) {
                        display: none;
                    }

                    @include product-gummy-ingredients;

                    display: flex;
                    justify-content: center;
                    margin: 50px 0;
                    padding-left: 0;
                    padding-right: 0;

                    .product-gummy-ingredients {
                        max-width: 375px;
                        margin-top: 0;

                        .product-ingredients__content {
                            padding-left: 10px;
                            margin-left: 0.625rem;

                            .product-card-box__heading {
                                .product-card-box__subtitle {
                                    max-width: none;
                                }
                            }
                        }
                    }
                }

                .problems {
                    @media (max-width: 1120px) {
                        margin: 20px auto;
                        width: 100%;
                        max-width: 375px;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        margin: 0;

                        &::before {
                            content: '❌';
                            margin-right: 5px;
                            font-size: 9px;
                        }
                    }
                }

                .plant {
                    p {
                        &::before {
                            content: '✅';
                            font-size: 10px;
                        }
                    }
                }

                .offfield {
                    margin-top: 20px;

                    p {
                        margin: 0;

                        &:first-child {
                            margin: 1em 0;
                        }
                    }
                }

                .text-more {
                    font-weight: 400;
                    z-index: 9999;
                }
            }

            .content-product-image {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding: 0;
                position: absolute;
                height: calc(100% - 450px);
                left: 50%;
                transform: translateX(-50%);
                width: 100%;

                @media (max-width: 1120px) {
                    display: none;
                }

                .gummy-content-img {
                    max-width: 300px;
                    height: auto;
                    margin: 0 auto;
                    top: 175px;
                    position: sticky;
                    object-fit: contain;
                    z-index: 1;
                    width: 100%;
                }

                .gummy-content-text {
                    margin-top: 40px;
                    color: #e6af6e;
                    text-transform: uppercase;
                    font-weight: 900;
                    z-index: 0;
                    font-family: 'Avenir', sans-serif;
                }
            }

            .content-product-other {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                z-index: 999;


                @media (max-width: 1120px) {
                    display: none;
                }
                .serving{
                    color: #e6af6e;
                    font-weight: 900;
                    font-family: Avenir,sans-serif;
                    font-size: 22px;
                    margin-top: 20px
                }

                .other-wrapper {
                    @include other-wrapper;
                }

                .other-image {
                    max-width: 280px;
                    margin-top: 40px;
                    overflow: hidden;
                    padding-bottom: 50px;
                    position: relative;

                    .swiper-slide {
                        img {
                            height: auto;
                        }
                    }

                    .swiper-pagination {
                        .swiper-pagination-bullet {
                            background-color: #a09f9e;
                            width: .3125rem;
                            height: .3125rem;
                            opacity: 0.5;
                            margin: 0 .3125rem;
                        }

                        .swiper-pagination-bullet-active {
                            opacity: 1;
                            background-color: #e6af6e;
                        }
                    }
                }

                .product-gummy-ingredients {
                    @include product-gummy-ingredients;
                }

                .other-buy_now {
                    margin-top: 40px;

                    .btn-buy_now {
                        font-family: Avenir,sans-serif;
                        background-color: #e6af6e;
                        width: 304px;
                        height: 61px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: .125rem solid #000;
                        text-transform: uppercase;
                        color: #000;
                        transition-delay: 0s,0.2s;
                        transition: transform .2s ease-in-out,background-color 0s ease-in-out;
                        transform-origin: center;
                        position: relative;

                         &:after, &:before {
                            content: '';
                            position: absolute;
                            top: -.125rem;
                            left: -.125rem;
                            width: calc(100% + .25rem);
                            height: calc(100% + .25rem);
                            border: .125rem solid #000;
                            padding: 1.25rem;
                            transform-origin: center;
                        }

                        &::after {
                            content: 'Buy Now';
                            background-color: #e6af6e;
                            transition: transform .2s ease-in-out, background-color 0s ease-in-out, color 0.2s;
                            transition-delay: 0s,0.2s;
                            color: #000;
                            line-height: normal;
                            font-weight: 900;
                            text-align: center;
                        }

                        &:before {
                            content: '';
                            background-color: #b75c61;
                            transition: transform .2s ease-in-out;
                        }

                        &:hover {
                            background-color: #e6af6e;

                            &::after {
                                background-color: #4e84b5;
                                transform: translate(.625rem,-.625rem);
                                transition: transform .2s ease-in-out,background-color 0s ease-in-out;
                                transition-delay: 0s,0s;
                                color: #fff;
                            }
    
                            &:before {
                                transform: translate(.3125rem,-.3125rem);
                            }
                        }
                    }
                }
            }
        }
    }

    .block-pay {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #000;

        @media (max-width: 1121px) {
            padding: 205px 1.25rem 300px;
        }

        @media(max-width: 768px) {
            padding-top: 300px;
        }

        @media(max-width: 425px) {
            padding-top: 310px;
        }

        .block-pay-img {
            @media (min-width: 1121px) {
                display: none;
            }

            @media(max-width: 768px) {
                margin-top: 25%;
            }

            @media(max-width: 425px) {
                margin-top: 50%;
            }

            position: absolute;
            top: -100%;
            transform: translateY(200%);
            width: 100%;
            max-width: 335px;

            img {
                width: 100%;
            }
        }

        .block-pay-product-quantity {
            font-weight: 400;
            font-family: 'Avenir', sans-serif;
            font-size: 13px;
            color: #fff;
        }

        .product__form {
            margin-top: 10px;
            width: 100%;
            max-width: 300px;

            @media (max-width: 1120px) {
                max-width: 375px;
            }

            @media (max-width: 425px) {
                max-width: none;
            }

            .product-pay-info {
                padding: 14px 0 0 0;
                margin: 0;
                list-style: none;
                border: 2px solid #000;
                border-bottom: 0;
                box-sizing: border-box;
                background-color: #fff;

                li {
                    padding: 0 14px 14px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: 'Avenir', sans-serif;
                    font-weight: 900;
                    color: #989898;
                    font-size: 13px;
                    text-transform: uppercase;
                }

                .discount {
                    span {
                        &::before {
                            content: '(';
                        }

                        &::after {
                            content: ')';
                        }
                    }
                }

                .product-gummi-price {
                    padding: 14px;
                    border-top: 2px solid #000;
                    background-color: #4e84b5;
                    color: #fff;
                }
            }

            .product__quantity {
                margin-top: 0;

                .product-quantity__input-container {
                    padding: 4px 2px;
                }
            }

            .product__add-container {
                .product__atc {
                    padding: 1rem;

                    &::before, &::after {
                        padding: 1rem;
                    }
                }
            }

            .block_taxes {
                font-size: 60%;
                display: block;
                margin-top: 10px;
                color: #fff;
            }
        }
    }

    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.8s all;
        -o-transition: 0.8s all;
        transition: 0.8s all;
        z-index: 9999;
    }

    .popup.open {
        opacity: 1;
        visibility: visible;
    }

    .popup.open .popup__body {
        opacity: 1;
        visibility: visible;
        -webkit-transform: perspective(600px) translate(0, 0) rotateX(0);
        transform: perspective(600px) translate(0, 0) rotateX(0);
    }

    .popup__body {
        margin: 40px 10px;
        padding: 35px;
        background-color: #fff;
        max-width: 600px;
        position: relative;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.8s;
        -o-transition: 0.8s;
        transition: 0.8s;
        -webkit-transform: perspective(600px) translate(0, -100%);
        transform: perspective(600px) translate(0, -100%);
    }

    .popup__body-link {
        color: #000;
    }

    .popup__body-close {
        color: #000;
        position: absolute;
        right: 10px;
        top: 10px;
        line-height: 1;
        font-size: 20px;
        width: 20px;
    }

    .popup__body-title {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 40px;
    }

    .popup__body-text {
        max-height: 550px;
        overflow: auto;

        @media(max-width: 768px) {
            max-height: 400px;
        }
    }

    .popup__body-img {
        overflow: hidden;
        max-height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width: 768px) {
            max-height: 400px;
        }

        img {
            max-height: 100%;
        }
    }

}


